html{
    font-family: 'Roboto', sans-serif;
}


.header{
    background-color: white;
    border-bottom: 0.1px solid rgb(212, 212, 212);
    height: 50px;
    font-size: 10px;
    font-weight: 300;
    display: flex;
    padding: 10px;
    color: rgb(133, 127, 127) ;
}

.logo{
    margin: 5px;
}