html{
    font-family: 'Roboto', sans-serif;
}

.content{
    white-space: pre-wrap;
}


.Notes-Container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row;
    min-height: 100%;
    flex-wrap: wrap;
}

.Notes{
    border: solid transparent;
    margin: 2em auto;
    width: 28rem;
    border-radius: 0.3em;
    border-width: 1px 1px 1px 6px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}    

.Note{
    border: solid transparent;
    margin: 2em auto;
    border-radius: 0.3em;
    border-width: 1px 1px 1px 6px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,.1);
    min-width: 10em;
    display: flex;
    flex-direction: column;
}


input,textarea {
    border:0;
    outline:0;
    font-size: 18px;
    font-weight: 500;
}
input:focus {outline:none!important;}
textarea{
    resize: none;
    overflow:hidden;
    letter-spacing: 0.05em;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

button{
    background: transparent;
    border: 0.1px solid rgb(212, 212, 212);
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: 'Roboto', sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 3px;
}
  


button:hover{
    background-color: rgb(212, 212, 212);
    border:  0.1px solid black;
}